<ion-header>
  <ion-toolbar color="light">
    <ion-title class="titulo">Lugares Destacados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" fullscreen>
  <ion-list class="lista-lugares">
    <ion-card *ngFor="let lugar of lugares" class="tarjeta" (click)="irAResenas(lugar)">
      <ion-card-header>
        <ion-card-title class="nombre">{{ lugar.nombre }}</ion-card-title>
        <ion-card-subtitle class="categoria">{{ lugar.categoria }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p class="descripcion">{{ lugar.descripcion }}</p>
        <p class="detalle"><ion-icon name="time-outline"></ion-icon> {{ lugar.horario }}</p>
        <p class="detalle"><ion-icon name="location-outline"></ion-icon> {{ lugar.direccion }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
