<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <img src="assets/img/home-outline.svg" alt="Home" style="width: 24px; height: 24px;" />
    </ion-tab-button>

    <ion-tab-button tab="health" [routerLink]="['/tabs/health']">
      <img src="assets/img/heart-sharp.svg" alt="Health" style="width: 24px; height: 24px;" />
    </ion-tab-button>

    <ion-tab-button tab="capture" [routerLink]="['/tabs/capture']">
      <img src="assets/img/camera-sharp.svg" alt="Capture" style="width: 24px; height: 24px;" /> 
    </ion-tab-button>

    <ion-tab-button tab="stats" [routerLink]="['/tabs/stats']">
      <img src="assets/img/bar-chart-sharp.svg" alt="Stats" style="width: 24px; height: 24px;" /> 
    </ion-tab-button>

    <!-- Tab para gastronomía con ruta única -->
    <ion-tab-button tab="gastronomia" [routerLink]="['/tabs/gastronomia']">
      <img src="assets/img/restaurant-outline.svg" alt="Gastronomía" style="width: 24px; height: 24px;" /> 
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>