<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <img src="assets/img/home-outline.svg" alt="Home" style="width: 24px; height: 24px;" />
    </ion-tab-button>

    <ion-tab-button tab="capture" [routerLink]="['/tabs/capture']">
      <img src="https://media.istockphoto.com/id/1148705812/es/vector/vector-de-icono-de-ubicaci%C3%B3n-signo-de-pasador-aislado-sobre-fondo-blanco-mapa-de-navegaci%C3%B3n.jpg?s=612x612&w=0&k=20&c=z3XSzuWeCsG594AbPpDPb-5CrMII8fwaO1aafD_mjh8=" alt="Capture" style="width: 24px; height: 24px;" /> 
    </ion-tab-button>

    <ion-tab-button (click)="logoutDirect()" tab="profile">
      <img src="assets/img/log-out-outline.svg" alt="Logout" style="width: 24px; height: 24px;" /> 
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>