ion-content {
  background: #b2e2f2 !important;
}


.filters-section {
  padding: 12px;
}


.search-bar {
  background: #ffffff !important;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


ion-card {
  background: #ffffff !important;
  border-radius: 16px;
  border: 2px solid #d4f1f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}


.form-section {
  padding: 16px;
}


.form-field ion-label {
  color: #000 !important;
}


.date-grid {
  display: flex;
  gap: 12px;
}


.event-item {
  border: 1px solid #d4f1f9;
  border-radius: 12px;
  margin-bottom: 12px;
  background: #ffffff;
  padding: 10px;


  h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }


  p {
    font-size: 13px;
    color: #555;
  }
}


ion-datetime {
  --background: #ffffff !important;
  --color: #000000 !important;
  border-radius: 10px;
}




